target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/checkstyle-idea.xml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml

### backend ###
/technical-support-backend/.mvn/
/technical-support-backend/target/
/technical-support-backend/mvnw
/technical-support-backend/mvnw.cmd
/technical-support-backend/src/main/resources/application.properties


### backend ###
/technical-support-notification-bot/.mvn/
/technical-support-notification-bot/target/
/technical-support-notification-bot/mvnw
/technical-support-notification-bot/mvnw.cmd
/technical-support-notification-bot/src/main/resources/application.properties

