@import "style.css";

.myBtn {
    font-size: 16px;
    padding: 5px 40px;
    min-width: 177px;
    color: var(--dark-blue);
    background: white;
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
    cursor: pointer;
}

.navbar .myBtn {
    color: var(--light-gray);
    background-color: transparent;
}


.navbar .myBtn:hover {
    color: var(--dark-blue);
    background-color: var(--light-gray);
    transition-delay: 0.1s;
}

.myBtn:hover {
    color: var(--light-gray);
    background-color: var(--dark-blue);
    transition-delay: 0.03s;
}

.application-go .myBtn {
    border: 2px solid salmon;
}

.application-go .myBtn:hover {
    background-color: var(--dark-gray);
}