@import "style.css";

.create-application__inner {
    display: flex;
    max-width: 450px;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}

.create-application__inner div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.create-application__main {
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.create-application__main select {
    width: 100%;
}

.create-application__description {
    resize: none;
    height: 100px;
    width: 100%;
    justify-content: flex-start;
}

.create-application__main .create-application__offline {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.create-application__offline .create-application__offline-title {
    font-size: 16px;
    margin-bottom: 0;
    justify-content: flex-end;
}

.create-application__offline .myInput {
    margin-left: 30px;
    width: 20px;
    height: 20px;
}