@import "style.css";

.login__inner {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    align-items: center;
}

.login__inner .myBtn {
    margin-top: 30px;
    padding: 10px 10px;
    min-width: 100px;
}

.login__inner form {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
}

.login__inner form .myInput {
    width: 100%;
}

.login__error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}



