@import "style.css";

.user-info__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    max-width: 570px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    border: 3px solid var(--dark-blue);
    padding: 30px;
}

.user-info__avatar {
    width: 128px;
    height: 128px;
    margin: 0 46px;
}

.user-info__main {
    display: flex;
    flex-direction: row;
}

.user-info__contacts {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-info__contacts {
    margin-bottom: 40px;
}

.user-info__contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-info__contacts-title {
    width: 220px;
    text-align: right;
    padding-right: 50px;
}

.user-info__contacts-value {
    background-color: salmon;
    border-radius: 10px;
    color: black;
    padding: 10px;
    display: flex;
    min-width: 220px;
}

.user-info__contacts-value img {
    margin-right: 10px;
}

.user-info__post {
    margin-bottom: 15px;
}

.user-info__address {
    margin-top: 30px;
    width: 100%;
}

.user-info__workplace {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}